<p id="notice"><%= notice %></p>

<p>
  <strong>House:</strong>
  <%= @production2.house_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @production2.date %>
</p>

<p>
  <strong>Am:</strong>
  <%= @production2.am %>
</p>

<p>
  <strong>Pm:</strong>
  <%= @production2.pm %>
</p>

<%= link_to 'Edit', edit_production2_path(@production2) %> |
<%= link_to 'Back', production2s_path %>
