<h1>House <%= @house.name %></h1>
<%= form_for :operation, url: house_shelves_path + "/operation" , method: :post do -%>
<div class="form-group">
  <label for="sel1">Select operation:</label>
  <select class="form-control" id="sel1" name="operation">
    <option>Please select</option>
    <option <%= "selected" if params[:operation] == "Open" %>>Open</option>
    <option <%= "selected" if params[:operation] == "Harvest" %>>Harvest</option>
    <option <%= "selected" if params[:operation] == "Close" %>>Close</option>
  </select>
</div>
<%= @msg %>

<table class="table">
  <thead>
    <tr>
      <%= "<th></th>".html_safe if params[:operation] && params[:operation] != "Please select" %>
      <th>Rack No</th>
      <th>State</th>
      <th>Open date</th>
      <th>Harvest date</th>
      <th>Close date</th>
      <!-- <th>End date</th> -->
      <th>Cycle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shelves.each do |shelf| %>
      <tr <%= "style='background-color: red;'".html_safe if shelf.cycle > 8 %>>
        <%= "<th>
<div class='checkbox'>
  <label><input name='shelf_ids[]' type='checkbox' value='#{shelf.id}'></label>
</div>
      </th>".html_safe if params[:operation] && params[:operation] != "Please select" %>
        <td><%= shelf.name %></td>
        <td><%= shelf.state %></td>
        <!-- # if shelf.state == "open" -->
        <td><%= shelf.open_date %></td>
        <!-- # if shelf.state == "harvest" -->
        <td><%= shelf.harvest_date %></td>
        <!-- # if shelf.state == "close" -->
        <td><%= shelf.close_date %></td>
        <!-- <td><%= shelf.end_date %></td> -->
        <td><%= shelf.cycle %></td>
        <td><%= link_to 'Show', house_shelf_path(params[:house_id], shelf) %></td>
        <td><%= link_to 'Edit', edit_house_shelf_path(params[:house_id],shelf) %></td>
        <td><%= link_to 'Destroy', house_shelf_path(params[:house_id], shelf), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

  <% if params[:operation] && params[:operation] != "Please select" %>
  <input type="submit" class="btn btn-primary" value="Execute Operation">
  <% end %>
<% end %>

Total opened today : <%= @house.shelves.where("open_date = '#{(Time.now-0.days).to_date.to_s}'").count %> <br>
Total harvested today : <%= @house.shelves.where("harvest_date = '#{(Time.now-0.days).to_date.to_s}'").count %> <br>
Total closed today : <%= @house.shelves.where("close_date = '#{(Time.now-0.days).to_date.to_s}'").count %>

<br>

<%= link_to 'New Shelf', new_house_shelf_path(params[:house_id]) %>
<script>
$( "#sel1" ).change(function() {
  window.location = "?operation=" + $( "#sel1" ).val();
});
</script>