<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @shelf.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @shelf.state %>
</p>

<p>
  <strong>Tarikh Buka:</strong>
  <%= @shelf.open_date %>
</p>

<p>
  <strong>Tarikh Tuai:</strong>
  <%= @shelf.harvest_date %>
</p>

<p>
  <strong>Tarikh Tutup:</strong>
  <%= @shelf.close_date %>
</p>

<p>
  <strong>Tarikh Tamat:</strong>
  <%= @shelf.end_date %>
</p>

<p>
  <strong>Kitaran:</strong>
  <%= @shelf.cycle %>
</p>

<%= link_to 'Ubah', edit_house_shelf_path(params[:house_id], @shelf) %> |
<%= link_to 'Kembali', house_shelves_path(params[:house_id]) %>
