<h1>Senarai Pembeli</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nama</th>
      <th>Telefon</th>
      <th>Emel</th>
      <th>Pasar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.email %></td>
        <td><%= customer.market.name if customer.market %></td>
        <td><%= link_to 'Papar', customer %></td>
        <td><%= link_to 'Ubah', edit_customer_path(customer) %></td>
        <td><%= link_to 'Buang', customer, method: :delete, data: { confirm: 'Anda pasti ingin membuang pembeli?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Tambah Pembeli Baru', new_customer_path %>
